.header {
  &__hamburger {
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    // background-color: var(--color-accent-300);
    background-color: transparent;
    border: 2px solid var(--hamburger-border);
    position: absolute;
    right: 5%;
    top: 5%;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    width: 50%;
    height: 4px;
    border-radius: 40px;
    background-color: var(--hamburger-btn);
    position: relative;
    z-index: 101;

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 40%;
      height: 4px;
      background-color: var(--hamburger-before-after);
      border-radius: 40px;
    }

    &::before {
      top: -200%;
      right: 0;
    }
    &::after {
      top: 200%;
      left: 0;
    }
  }

  &__circle {
    width: 7rem;
    height: 7rem;
    position: absolute;

    top: 5.2%;
    right: 5.3%;
    border-radius: 50%;
    z-index: 9;
  }
}

.nav {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-items: center;
  align-items: center;

  &__icon {
    position: absolute;
    top: 2%;
    left: 5%;
  }

  &__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    &--item {
      display: flex;
      align-items: baseline;
      gap: 10rem;
      color: var(--color-grey-100);
      font-size: 4rem;
      font-family: CarenaRegular;
      position: relative;

      & span {
        position: absolute;
        width: 100%;
        height: 120%;
        background-color: var(--color-accent-600);
      }
    }

    &--link {
      color: var(--color-accent-50);
      text-decoration: none;
      font-size: clamp(8rem, 7rem + 4vw, 12rem);
      font-family: CarenaRegular;
      font-weight: 700;
    }
  }

  &__secondary--menu {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-self: start;
    margin-top: 20rem;
  }

  &__para {
    color: var(--color-accent-900);
    font-size: clamp(4rem, 2rem + 2vw, 6rem);
    font-weight: 700;
    font-family: CarenaRegular;
    position: relative;

    & span {
      position: absolute;
      width: 100%;
      height: 120%;
      top: 0;
      left: 0;
      background-color: var(--color-accent-600);
    }
  }
}
