.heading__primary {
  max-width: 120rem;
  margin-top: 10rem;
  font-family: var(--font-primary);
  font-size: 15rem;
  line-height: 1.2;
  color: var(--color-primary-200);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 4rem;

  flex: 1;

  &--sub {
    position: relative;
    font-size: 12rem;
    align-self: flex-end;
    display: flex;
  }
}
