.hero {
  &__main {
    width: 100vw;
    height: 100vh;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
  }

  &__bottom-line {
    align-self: center;
    height: 2px;
    width: 40%;
    flex-basis: 20rem;
    // border-bottom: 5px dotted var(--color-primary-200);
    position: relative;
  }

  &__background {
    position: absolute;
    top: 5%;
    left: 5%;
    height: 100vh;
    width: 100vw;
    pointer-events: none;
  }

  &__details {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  &__line {
    background-color: var(--color-primary-200);
    width: 5px;
    border-radius: 40px;
  }

  &__about {
    padding-right: 4rem;
    // border-right: 1px solid var(--color-primary-100);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    &--title {
      font-size: clamp(3rem, 2rem + 1vw, 4rem);
      font-family: var(--font-secondary);
      font-weight: 700;
    }

    &--subtitle {
      font-size: clamp(3rem, 2rem + 1vw, 4rem);
    }
  }

  &__breadcrumb {
    font-size: 2.4rem;
    background-color: red;
    color: #fafafa;
    padding: 1rem 1.6rem;
    font-weight: 700;
    border-radius: 40px;
    position: absolute;
    box-shadow: var(--box-shadow-light);
    user-select: none;
    transition: color 200ms, background-color 200ms;
    flex: 1 0 auto;

    &:hover {
      color: var(--color-primary-800);
      background-color: #fffbeb;
    }

    &--icon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      visibility: hidden;
    }

    &--react {
      background-color: #bfdbfe;
      color: #2563eb;
    }

    &--node {
      background-color: #22c55e;
      color: #fafafa;
    }

    &--mongodb {
      background-color: #a7f3d0;
      color: #047857;
    }

    &--design {
      background-color: #fecaca;
      color: #dc2626;
    }

    &--rest {
      background-color: #ddd6fe;
      color: #7c3aed;
    }

    &--c {
      background-color: #fed7aa;
      color: #ea580c;
    }

    &--gsap {
      background-color: #d9f99d;
      color: #65a30d;
    }

    &--express {
      background-color: #f4f4f5;
      color: #18181b;
    }

    &--next {
      background-color: #18181b;
      color: #fafafa;
    }

    &--ts {
      background-color: #2563eb;
      color: #fafafa;
    }

    &--lnx {
      background-color: #fbbf24;
      color: #181818;
    }
    &--figma {
      background-color: #f5d0fe;
      color: #c026d3;
    }
  }

  &__circle {
    position: absolute;
    min-width: 20rem;
    min-height: 20rem;
    border-radius: 50%;
    background-image: linear-gradient(
      to right,
      var(--color-primary-800),
      var(--color-primary-400)
    );
  }
}
